body {
    font-family: "Roboto", sans-serif;
}

.cabecalho {
    background-color: #0E0027;
    min-height: 72px;
    padding: 10px 24px;
}

.cabecalho .menu-navegacao{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 32px;
}

.cabecalho .menu-navegacao .logo{
    height: 50px;
}

.cabecalho .menu-navegacao .menu{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 28px;
}

.cabecalho .menu-navegacao .menu a{
    color: #EDEDED;
    text-decoration: none;
    text-transform: uppercase;
    font-weight: 500;
    letter-spacing: 0;
    transition: 0.15s;
}

.cabecalho .menu-navegacao .menu a:hover{
    color: #6528D3;
}

.cabecalho .menu-navegacao .form-pesquisa{
    display: flex;
    flex: 1;
    max-width: 420px;
}

.cabecalho .menu-navegacao .form-pesquisa input {
    width: 100%;
    padding: 9px;

    border: 3px solid #6528D3;
    border-right: none;
    border-radius: 2px 0 0 2px;

    background-color: #F2EEFA;
    color: #130234;
}

.cabecalho .form-pesquisa input:focus {
    outline: none;
    border-color: #9C6BEE;
}

.cabecalho .menu-navegacao .form-pesquisa button {
    padding: 9px 16px;
    border: 2px solid #6528D3;
    border-radius: 0 2px 2px 0;

    background-color: #6528D3;
    color: #FFFFFF;

    font-weight: 500;
    cursor: pointer;
    transition: 0.15s;
}

.cabecalho .form-pesquisa button:hover {
    background-color: #33008F;
    border-color: #33008F;
}

.cabecalho .form-pesquisa button:active {
    background-color: #9C6BEE;
    border-color: #9C6BEE;
}

.cabecalho .menu-navegacao .link-carrinho {
    display: flex;
    align-items: center;
    gap: 15px;
    flex-shrink: 0;

    color: #EDEDED;
    text-decoration: none;
    font-weight: 500;
    letter-spacing: 1px;
}

.cabecalho .menu-navegacao .icone-carrinho{
    width: 24px;
    height: 24px;
    object-fit: contain;
}

.cabecalho .link-logo,
.cabecalho .link-carrinho {
    flex-shrink: 0;
}

.rodape{
    background-color: #6528D3;
    display: flex;
    justify-content: center;
    color: #EDEDED;
    padding: 20px;
    margin-top: 60px;
}