.pagina-carta {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;

    display: flex;
    gap: 50px;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

.imagem-carta img {
    width: 100%;
    max-width: 500px;
    border-radius: 15px;
    transition: .3s;
}

.detalhes-carta {
    max-width: 500px;
}

.detalhes-carta h1 {
    color: #6f2dbd;
    margin-bottom: 15px;
}

.detalhes-carta h2 {
    margin-bottom: 25px;
    color: #555;
}

.detalhes-carta p {
    margin-bottom: 15px;
    line-height: 1.6;
}

.efeito {
    background-color: #f4f0ff;
    padding: 20px;
    border-left: 5px solid #6f2dbd;
    border-radius: 8px;
    margin: 20px 0;
}

.botoes {
    display: flex;
    gap: 15px;
    margin-top: 30px;
}

.btn-voltar,
.btn-comprar {
    text-decoration: none;
    padding: 12px 20px;
    border-radius: 9px;
    color: white;
    font-weight: bold;
}

.btn-voltar {
    background-color: #444;
}

.btn-comprar {
    background-color: #6f2dbd;
}

.btn-voltar:hover, .btn-comprar:hover{
        background-color: #33008F;
}